<div class="grid_16">
	<h1>Editing species</h1>
	
	<% form_for(@species) do |f| %>
	  <%= f.error_messages %>
	
	  <p>
	    <%= f.label :common, "Common Name" %>
	    <%= f.text_field :common %>
	  </p>
	  <p>
	    <%= f.label :scientific, "Scientific Name" %>
	    <%= f.text_field :scientific %>
	  </p>
	  <p>
	    <%= f.submit 'Update' %>
      <%= link_to 'Cancel', @species %> 
	  </p>
	<% end %>
</div>
