
<div class="grid_16">

<h1>New species</h1>

<% form_for(@species, :url=> {:action=>'create'},:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :common, "Common Name" %>
    <%= f.text_field :common %>
  </p>

  <p>
    <%= f.label :scientific, "Scientific Name" %>
    <%= f.text_field :scientific %>
  </p>
	
  <% f.fields_for :image do |image_fields| %>
		<p>
	    <%= image_fields.label :uploaded_data, "Choose image" %>
	    <%= image_fields.file_field :uploaded_data %>		
		</p>
  <% end -%>
  <p>
    <%= f.submit 'Create' %>
      <%= link_to 'Cancel', species_index_path %>
  </p>

<% end %>

</div>