
  <p>
    <%= form.label :tree_no %>
    <%= form.text_field :tree_no %>
  </p>
  <p>
    <%= form.label :date_planted %>
    <%= form.date_select :date_planted %>
		
  </p>
  <p>
    <%= form.label :species %>
    <%= form.text_field :species %>
  </p>
  <p>
    <%= form.label :common_name %>
    <%= form.text_field :common_name %>
  </p>
