
  <p>
    <%= f.label :tree_no %><br />
    <%= f.text_field :tree_no %>
  </p>
  <p>
    <%= f.label :date_planted %><br />
    <%= f.date_select :date_planted %><br />
		
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </p>
  <p>
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </p>
  <p>
    <%= f.label :site_street %><br />
    <%= f.text_field :site_street %>
  </p>
  <p>
    <%= f.label :exact_loc %><br />
    <%= f.text_field :exact_loc %>
  </p>
  <p>
    <%= f.label :land_ownership %><br />
    <%= f.text_field :land_ownership %>
  </p>
  <p>
    <%= f.label :borough %><br />
    <%= f.text_field :borough %>
  </p>
  <p>
    <%= f.label :ward %><br />
    <%= f.text_field :ward %>
  </p>
  <p>
    <%= f.label :species %><br />
    <%= f.text_field :species %>
  </p>
  <p>
    <%= f.label :common_name %><br />
    <%= f.text_field :common_name %>
  </p>
  <p>
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </p>
  <p>
    <%= f.label :geo_x %><br />
    <%= f.text_field :geo_x %>
  </p>
  <p>
    <%= f.label :geo_y %><br />
    <%= f.text_field :geo_y %>
  </p>