
  <p>
    <%= form.label :tree_no %>
    <%= form.text_field :tree_no %>
  </p>
  <p>
    <%= form.label :date_planted %>
    <%= form.date_select :date_planted %>
		
  </p>
  <p>
  <p>
    <%= form.label :project %>
    <%= form.text_field :project %>
  </p>
  <p>
    <%= form.label :site_street %>
    <%= form.text_field :site_street %>
  </p>
  <p>
    <%= form.label :exact_loc %>
    <%= form.text_field :exact_loc %>
  </p>
  <p>
    <%= form.label :land_ownership %>
    <%= form.text_field :land_ownership %>
  </p>
  <p>
    <%= form.label :borough %>
    <%= form.text_field :borough %>
  </p>
  <p>
    <%= form.label :ward %>
    <%= form.text_field :ward %>
  </p>
  <p>
    <%= form.label :species %>
    <%= form.text_field :species %>
  </p>
  <p>
    <%= form.label :common_name %>
    <%= form.text_field :common_name %>
  </p>
  <p>
    <%= form.label :postcode %>
    <%= form.text_field :postcode %>
  </p>
  <p>
    <%= form.label :geo_x %>
    <%= form.text_field :geo_x %>
  </p>
  <p>
    <%= form.label :geo_y %>
    <%= form.text_field :geo_y %>
  </p>