<script type="text/javascript">
  var trees = <%= trees.to_json %>;
</script>

<script type="text/javascript"
        src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%=GeoKit::Geocoders::google%>">
          </script>
        

<%= javascript_include_tag 'treesmap' %>


<script type="text/javascript">
  window.onload = initialize;
  window.onunload=GUnload;
</script>
<!--
<h2>Debugging stuff:</h2>
<ul>
<% trees.each do |tree|%>
  <li>
    <%= link_to"##{tree.id}", tree_path(tree)%>
    <%= tree.lat%>, <%=tree.lng%>
  </li>
<% end %>

</ul>
  <code>var trees = <%= h(trees.to_json) %>;</code>
-->
