<h1>Listing trees</h1>

<table>
  <tr>
    <th>Tree no</th>
    <th>Date planted</th>
    <th>Priority</th>
    <th>Action</th>
    <th>Project</th>
    <th>Site street</th>
    <th>Exact loc</th>
    <th>Land ownership</th>
    <th>Borough</th>
    <th>Ward</th>
    <th>Species</th>
    <th>Common name</th>
    <th>Postcode</th>
    <th>Geo x</th>
    <th>Geo y</th>
  </tr>

<% @trees.each do |tree| %>
  <tr>
    <td><%=h tree.tree_no %></td>
    <td><%=h tree.date_planted %></td>
    <td><%=h tree.priority %></td>
    <td><%=h tree.action %></td>
    <td><%=h tree.project %></td>
    <td><%=h tree.site_street %></td>
    <td><%=h tree.exact_loc %></td>
    <td><%=h tree.land_ownership %></td>
    <td><%=h tree.borough %></td>
    <td><%=h tree.ward %></td>
    <td><%=h tree.species %></td>
    <td><%=h tree.common_name %></td>
    <td><%=h tree.postcode %></td>
    <td><%=h tree.geo_x %></td>
    <td><%=h tree.geo_y %></td>
    <td><%= link_to 'Show', tree %></td>
    <td><%= link_to 'Edit', edit_tree_path(tree) %></td>
    <td><%= link_to 'Destroy', tree, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tree', new_tree_path %>