<div class="grid_16">
  <h1>Trees and Empty lots</h1>

  <ul class="trees">

  <% @trees.each do |tree| %>
    <li>
      <%= link_to_tree_image_for(tree) %>
      <%= link_to tree, tree %>
      <%=h tree.nearest_address %>
      <%=h tree.postcode %>
    </li>
  <% end %>
  </ul>

  <% if editor? -%>
    <p><%= link_to 'New tree', new_tree_path %></p>
  <% end -%>

</div>
