<h1>New tree</h1>

<% form_for(@tree) do |form| %>
  <%= form.error_messages %>

  <%= render :partial=>'form', :object=>form%>

  <%= form.hidden_field :lot_id %>  
  <p>
    <%= form.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', trees_path %>