<p>
  <b>Tree no:</b>
  <%=h @tree.tree_no %>
</p>

<p>
  <b>Date planted:</b>
  <%=h @tree.date_planted %>
</p>


<p>
  <b>Species:</b>
  <%=h @tree.species %>
</p>

<p>
  <b>Common name:</b>
  <%=h @tree.common_name %>
</p>



<%= link_to 'Edit', edit_tree_path(@tree) %> |
<%= link_to 'Back', trees_path %>