<p>
  <b>Tree no:</b>
  <%=h @tree.tree_no %>
</p>

<p>
  <b>Date planted:</b>
  <%=h @tree.date_planted %>
</p>

<p>
  <b>Priority:</b>
  <%=h @tree.priority %>
</p>

<p>
  <b>Action:</b>
  <%=h @tree.action %>
</p>

<p>
  <b>Project:</b>
  <%=h @tree.project %>
</p>

<p>
  <b>Site street:</b>
  <%=h @tree.site_street %>
</p>

<p>
  <b>Exact loc:</b>
  <%=h @tree.exact_loc %>
</p>

<p>
  <b>Land ownership:</b>
  <%=h @tree.land_ownership %>
</p>

<p>
  <b>Borough:</b>
  <%=h @tree.borough %>
</p>

<p>
  <b>Ward:</b>
  <%=h @tree.ward %>
</p>

<p>
  <b>Species:</b>
  <%=h @tree.species %>
</p>

<p>
  <b>Common name:</b>
  <%=h @tree.common_name %>
</p>

<p>
  <b>Postcode:</b>
  <%=h @tree.postcode %>
</p>

<p>
  <b>Geo x:</b>
  <%=h @tree.geo_x %>
</p>

<p>
  <b>Geo y:</b>
  <%=h @tree.geo_y %>
</p>


<%= link_to 'Edit', edit_tree_path(@tree) %> |
<%= link_to 'Back', trees_path %>