
  <p>
    <%= form.label :nearest_address %>
    
    <%= form.text_field :nearest_address %>
    <% if @lot.new_record? -%>
      <span class="note">A postal address in the UK (without the postcode). Computer will use this to put it roughly on a map</span>
    <% end -%>
    </p>

  

  <p>
    <%= form.label :postcode %>
    <%= form.text_field :postcode %>
  </p>

    <p>
    <%= form.label :how_to_find %>
    <%= form.text_field :how_to_find %>
    <span class="note">Notes for a human on the ground starting from the nearest address.</span> 
  </p>

  <div id="coordinates">
    <h3>Coordinates</h3>     
  
  <p><%= form.label :latitude %>  <%= form.text_field :lat %>
  </p>
  <p>
    <%= form.label :longditude %>  <%= form.text_field :lng %>
  </p>
  <% if @lot.new_record?%><p class="note">Leave these blank and they will be looked up from the address & postcode. </p><% end -%>
	<p class="note">
      At present if you want to change the location of the tree you need to find out the latitude/Longditude yourself.
      There's a tool here: <%= link_to nil, "http://www.gorissen.info/Pierre/maps/googleMapLocation.php"%>
    </p>
  
</div>

   



