<div class="grid_16">
  <h1>Trees and Empty lots</h1>

  <ul class="lots">

  <% @lots.each do |lot| %>
    <li>
    	<% link_to(lot) do-%>
        <% if lot.tree.nil?-%>
            <%= image_tag '/images/icons/lot.png'%>
        <% else -%> 
            <%= image_tag '/images/icons/tree.png'%>
    		<% end -%>
      <% end -%>
        <%= link_to lot, lot %>
      <%=h lot.nearest_address %>
      <%=h lot.postcode %>
    </li>
  <% end %>
  </ul>

	<% if editor? -%>
	  <p><%= link_to 'New lot', new_lot_path %></p>
	<% end -%>

</div>
