<h1>Lots</h1>

<ul class="lots">

<% @lots.each do |lot| %>
  <li>
    <%= link_to "Lot ##{lot.id}", lot %>
    <%=h lot.nearest_address %>
    <%=h lot.postcode %>
    <% if lot.tree.nil?%> NO TREE
		<% else %> Tree #<%=lot.tree.tree_no%> <% end %>
  </li>
<% end %>
</ul>

<p><%= link_to 'New lot', new_lot_path %></p>