<h1>Lots</h1>

<ul class="lots">

<% @lots.each do |lot| %>
  <li>
    <h2><%= link_to lot.project, lot %> (<%=h lot.id %>)</h2>
    <p>Street: <%=h lot.site_street %></p>
    <p>Location: <%=h lot.exact_loc %></p>
    <p>Borough: <%=h lot.borough %>, Ward: <%=h lot.ward %></p>
    <p>owned by: <%=h lot.land_ownership %></p>
  </li>
<% end %>
</ul>

<p><%= link_to 'New lot', new_lot_path %></p>