<h2>
  <% if @lot.tree.nil?-%>
      <%= image_tag '/images/icons/lot.png'%>
			Empty lot #<%=@lot.id%>

  <% else -%> 
      <%= image_tag '/images/icons/tree.png'%>
			Tree #<%=@lot.tree.tree_no%> at lot #<%=@lot.id%>
  <% end -%>	
</h2>

<div>
<% if  @lot.tree.nil?%>
  <p>There is no tree in this lot, yet</p>
    <% if editor? -%>
      <p><%= link_to "Create a tree in this Lot", new_tree_path(:lot_id=> @lot) %></p>
    <% end%>
<% else %>
  <ul class="trees">
    <%= render @lot.tree%>
  </ul>
	<% if editor? -%>
    <p><%= link_to 'Edit Tree', edit_tree_path(@lot.tree) %></p>
	<% end -%>
<% end %>
</div>

<h2>Location</h2>
<div>
	<p>
	  <b>Nearest Address:</b>
	  <%=h @lot.nearest_address %>
	</p>
	
	<p>
	  <b>Postcode:</b>
	  <%=h @lot.postcode %>
	</p>
	
	<p>
	  <b>How to find it from there:</b>
	  <%=h @lot.how_to_find %>
	</p>
	
	<p>
	  <b>Co-ordinates</b>: Latitude:
	  <%= @lot.lat %>
	   ,  
	   Longditude:
	  <%= @lot.lng %>
	</p>
	<% if editor? -%>
	<p class="options">
	  <%= link_to 'Edit location', edit_lot_path(@lot) %>
	</p>
	<% end -%>
</div>

<h2>Comments</h2>
<% @lot.comments.each do |comment| %>
	<div>
		<p><%=h(comment.text)%></p>
		<p><%=h(comment.author)%></p> 
		<p><%=time_ago_in_words(comment.created_at)%></p> 
	</div>
<% end %>

<% if editor? -%>
<p class="options">
	<%= link_to 'Delete this Tree/Lot', @lot, :confirm => 'Are you sure?', :method => :delete %>
</p>
<% end -%>