

<div class="grid_6">
  
  <h2>
    <% if @lot.tree.nil?-%>
  			Empty lot #<%=@lot.id%>
    <% else -%> 
  			Tree #<%=@lot.tree.tree_no%> at lot #<%=@lot.id%>
    <% end -%>	
  </h2>
  <% if  @lot.tree.nil?%>
    <p>There is no tree in this lot, yet</p>
      <% if editor? -%>
        <p><%= link_to "Create a tree in this Lot", new_tree_path(:lot_id=> @lot) %></p>
      <% end%>
  <% else %>
    <ul class="trees">
      <%= render @lot.tree%>
    </ul>
  	<% if editor? -%>
      <p><%= link_to 'Edit Tree', edit_tree_path(@lot.tree) %></p>
  	<% end -%>
  <% end %>
</div>

<div class="grid_10">
  <h2>Location:</h2>
  
  <div id="map" style="width:100%; height:320px;"></div>
	<%= render :partial => 'lots/map_scripts', :locals=>{:lots=>[@lot]} %>
			
  <div class="grid_1 alpha">
    <% if @lot.tree.nil?-%>
        <%= image_tag '/images/icons/lot.png'%>
    <% else -%> 
        <%= image_tag '/images/icons/tree.png'%>
    <% end -%>
  </div>
  <div class="grid_9 omega">  
    
    <div>
    	<p>
    	  <b>Nearest Address:</b>
    	  <%=h @lot.nearest_address %>
    	</p>
	
    	<p>
    	  <b>Postcode:</b>
    	  <%=h @lot.postcode %>
    	</p>
	
    	<p>
    	  <b>How to find it from there:</b>
    	  <%=h @lot.how_to_find %>
    	</p>
			<p>
        <b>Co-ordinates</b>: Latitude:
        <%= @lot.lat %>
         ,  
         Longditude:
        <%= @lot.lng %>
      </p>
  
  
	
    			<% if editor? -%>
			<p class="options">
			  <%= link_to 'Edit location', edit_lot_path(@lot) %>
			</p>
			<% end -%>
		</div>

  
  </div>
</div>


<div class="grid_16">
<h2>Comments</h2>
<ul id="comments">
<% @lot.comments.each do |comment| %>
	<li class="comment">
		<p><%=h(comment.text)%></p>
		<p>by <%= link_to h(comment.user), comment.user%>
		<%=time_ago_in_words(comment.created_at)%> ago</p> 
	</li>
<% end %>
</ul>
<% if logged_in? %>
  <% form_for([@lot, @comment]) do |form| %>

    <%= form.error_messages %>
    <p>
      <%= form.label :text %>
      <%= form.text_field :text %>
    </p>
    
    <p>
      <%= form.submit 'Add comment' %>
    </p>
  <% end %>
<% else%>
	Login or sign up to be able to comment!
<% end %>
<% if editor? -%>
<p class="options">
	<%= link_to 'Delete this Tree/Lot', @lot, :confirm => 'Are you sure?', :method => :delete %>
</p>
<% end -%>
</div>
