  <ul id="navigation" class="grid_16">
    <li><%= link_to 'Treemap', "/" %></li>
    <li><%= link_to 'Treelist', trees_path %></li>
    <li><%= link_to 'Species', species_index_path %></li>
   <% if admin? %>
	   <li><%= link_to "Users", users_path %>
	 <% end %>
   <% if logged_in? -%>
      <li>Logged in as <%= current_user.name%> (<%= link_to(current_user.login, user_path(current_user)) %>)</li>
      <li><%=link_to 'Logout', logout_path %> </li>
   <% else %>
    <li><%= link_to 'Login', login_path %></li>
    <li><%= link_to 'Signup', signup_path %></li>
    <% end %>
  </ul>
